@import "../css/lato.css";
@import "../css/blenda.css";

$accent-col:    #ff4949;
$bg-col: #EFE9F4;
$subtitle-shadow-col: #5c5c5c;
$site-width: 1200px;

$main-font: "Lato", crusive;
$serif-font: "Blenda Script", cursive;
