<template>

  <canvas id="banner" resize></canvas>

</template>

<script>
import * as bn from "../js/animatedBanner";

export default {
  name: "banner",
  mounted: bn.animateBanner,
  destroyed: bn.destroy,
  data() {
    return {};
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import "../sass/common.scss";

#banner {
  height: 150px;
  width: 100%;
  fill: $accent-col;
  margin-bottom: calc(-60px + 3vmin);
}
</style>
