<template>
  <div>
    <h1>Hello World</h1>
    <input type='text' v-model='text' class="myInput">
    <div v-for="(font,i) in fonts" :key="i" class="fontRow">
      <span :style="{fontFamily: font, fontSize: '25pt'}" class="fontName">{{font}} </span>
      <span :style="{fontFamily: font, fontSize: '50pt'}" class="fontExample">{{text}} </span>
      <span style="clear:both;"></span>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.myInput {
  font-size: 30pt;
  text-align: center;
  width: 80%;
}

.fontRow {
  display: inline-block;
  width: 100%;
  min-height: 59pt;
}

.fontName {
  display: inline-block;
  text-align: left;
  width: 100%;
}

.fontExample {
  word-wrap: normal;
  text-align: center;
  width: 100%;
}

@import "../css/abril.css";
@import "../css/bevan.css";
@import "../css/blenda.css";
@import "../css/cabin.css";
@import "../css/fredoka.css";
@import "../css/lato.css";
@import "../css/montserrat.css";
@import "../css/ostrich.css";
</style>

<script>
export default {
  name: "FontTest",
  data() {
    return {
      text: "Choose your font",
      fonts: [
        "Abril Fatface",
        "Bevan",
        "Blenda Script",
        "Cabin",
        "Fredoka One",
        "Lato",
        "Montserrat",
        "Ostrich Sans"
      ]
    };
  }
};
</script>
