<template>
<div>
  <div class="push"></div>
  <div id="footer">
    <div class="footer-wrapper">
      <span class="copyright">Copyright © Victor Harabari. All rights reserved.</span>
      <br>
      <span class="email">victor@harabari.rocks</span>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: "Footer",
  data: () => {
    return {};
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import "../sass/common.scss";

$footer-height: 50px;
.push {
  display: block;
  width: 100%;
  height: $footer-height;
}

.footer-wrapper {
  display: block;
  width: 100%;
  height: $footer-height;
  background-color: $accent-col;
  box-sizing: border-box;
  padding: 4px;
}

#footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  font-family: $main-font;
  color: $bg-col;
}
</style>
