<template>
<div>
    <div class="greeter">
      <banner></banner>
      <span class="subtitle">by Victor Harabari</span>
    </div>
    <div class="content">
      <h2>Welcome to my homepage!</h2>
      <p>
        Here is the place where I showcase my work. <br/> <br/>
        My first exhibit: This site! <br/> <br/>
        Load balancer: <a href="https://gitlab.com/harabari_rocks/fancyLoadBalancer">fancyLoadBalancer</a> <br/>
        Site proper:  <a href="https://gitlab.com/harabari_rocks/harabari.rocks">harabari.rocks</a><br/>
        Server config: <a href="https://gitlab.com/harabari_rocks/harabari.rocks_deploy">harbari.rocks_deploy</a>
        <br>
        Take a look at the containers <a href="http://harabari.rocks:8000">here</a>.
        <br>
        <br>
        The website is under renovation! Watch the progress here: <a href="https://trello.com/b/cADPVq6L/personal-website">Trello</a>
      </p>
    </div>
</div>
</template>

<script>
import Banner from "./Banner";

export default {
  name: "FrontPage",
  components: {
    banner: () => import('./Banner')
  },
  data() {
    return {};
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import "../sass/common.scss";

.greeter {
  z-index: -1;
  display: inline-block;
  width: 100%;
  height: 200px;
  background-color: $bg-col;
  box-shadow: 0px 10px 10px -7px #6e6e6e;
}

.subtitle {
  display: inline-block;
  font-family: $serif-font;
  font-size: calc(7pt + 5vmin);
  color: $accent-col;
  position: relative;
  width: 80%;
  max-width: 900px;
  text-align: right;
  vertical-align: top;
  text-shadow: 3px 3px 20px $subtitle-shadow-col;
}

.content {
  font-family: $main-font;
  font-size: 24pt;
  & p{
    text-align: center;
  }
}
</style>
