<template>
<div id="navbar">
    <span class="title" v-if="$route.path!='/'">HARABARI.rocks</span>
    <span class="nav">
    <router-link to="/">Home</router-link>
    <router-link to="/FontTest">Font Testing</router-link>
    </span>
</div>
</template>

<script>

export default {
  name: "navbar",
  data() {
    return {};
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import "../css/fredoka.css";
@import "../sass/common.scss";

$title-font: "Fredoka One", cursive;

#navbar{
    display: block;
    width: 100%;
    height: 30px;
    background: $bg-col;
    z-index: 40;
    padding-top: 7px;
}

.title{
    font-family: $title-font;
    color: $accent-col;
    font-size: 20pt;
    float: left;
    margin-left: 10px;
}

.nav{
    font-family: $main-font;
    float: right;
}

.nav a{
    font-size: 15pt;
    margin-right: 10px;
    text-decoration: none;
    color: $accent-col;
    &.router-link-exact-active{
        color: black;
    };
}
</style>
