@font-face {
  font-family: 'Blenda Script';
  src: url('/static/fonts/blenda_script-webfont.woff2') format('woff2'),
       url('/static/fonts/blenda_script-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
