@font-face {
  font-family: 'Cabin';
  src: url('/static/fonts/cabin-bold-webfont.woff2') format('woff2'),
       url('/static/fonts/cabin-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'Cabin';
  src: url('/static/fonts/cabin-bolditalic-webfont.woff2') format('woff2'),
       url('/static/fonts/cabin-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;

}

@font-face {
  font-family: 'Cabin';
  src: url('/static/fonts/cabin-italic-webfont.woff2') format('woff2'),
       url('/static/fonts/cabin-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'Cabin';
  src: url('/static/fonts/cabin-regular-webfont.woff2') format('woff2'),
       url('/static/fonts/cabin-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
