@font-face {
  font-family: 'Fredoka One';
  src: url('/static/fonts/fredokaone-regular-webfont.woff2') format('woff2'),
       url('/static/fonts/fredokaone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
