@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/lato-bold-webfont.woff2') format('woff2'),
       url('/static/fonts/lato-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/lato-bolditalic-webfont.woff2') format('woff2'),
       url('/static/fonts/lato-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;

}

@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/lato-italic-webfont.woff2') format('woff2'),
       url('/static/fonts/lato-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/lato-regular-webfont.woff2') format('woff2'),
       url('/static/fonts/lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
