@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/montserrat-bold-webfont.woff2') format('woff2'),
       url('/static/fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/montserrat-bolditalic-webfont.woff2') format('woff2'),
       url('/static/fonts/montserrat-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/montserrat-italic-webfont.woff2') format('woff2'),
       url('/static/fonts/montserrat-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/montserrat-regular-webfont.woff2') format('woff2'),
       url('/static/fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
