@font-face {
  font-family: 'Ostrich Sans';
  src: url('/static/fonts/ostrichsans-bold-webfont.woff2') format('woff2'),
       url('/static/fonts/ostrichsans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Ostrich Sans';
  src: url('/static/fonts/ostrichsans-regular-webfont.woff2') format('woff2'),
       url('/static/fonts/ostrichsans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
