<template>
  <div id="app">
    <div id="app-wrapper">
      <navbar/>
      <router-view/>
      <myfooter/>
    </div>
  </div>
</template>

<script>
import Navbar from "./components/Navbar";
import Footer from "./components/Footer";
export default {
  name: "App",
  components: {
    navbar: Navbar,
    myfooter: Footer
  }
};
</script>

<style  lang="scss" scoped>
$site-width: 1200px;

#app {
  display: block;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#app-wrapper {
  position: relative;
  display: inline-block;
  & {
    @media only screen and (max-width: $site-width) {
      width: 100%;
    }
  }
  width: $site-width;
  margin: 0px 20px 0px 20px;
}
</style>
